@model ApplicationCore.Models.MovieDetailsModel

<div class="container-fluid">
    <div class="row" style="background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url( @Model.BackdropUrl );
        background-position: center; background-size: 100%">
        <div class="col my-auto">
            <img src="@Model.PosterUrl" class="img-fluid" alt="@Model.Title" />
        </div>
        <div class="col py-5" style="color: white;">
            <h2>
                @Model.Title
            </h2>
            <p style="color: grey"> @Model.Tagline </p>
            <p style="color: grey">
                @Model.RunTime m | @Model.ReleaseDate.Value.Year &ensp;
                @foreach (var genre in Model.Genres)
                {
                    <span class="badge rounded-pill bg-secondary">@genre.Name</span>
                }
            </p>
            <h4>
                <span class="badge bg-success my-2">@Math.Round(Model.Rating.Value, 1)</span>
            </h4>
            <p>
                @Model.Overview
            </p>
        </div>
        <div class="col py-5">
            <div class="d-grid gap-3 col-6 mx-auto">
                <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#review">REVIEW</button>
                <div class="modal fade" id="review" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New Review</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Rating
                                        </button><br />
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#">1</a></li>
                                            <li><a class="dropdown-item" href="#">2</a></li>
                                            <li><a class="dropdown-item" href="#">3</a></li>
                                            <li><a class="dropdown-item" href="#">4</a></li>
                                            <li><a class="dropdown-item" href="#">5</a></li>
                                            <li><a class="dropdown-item" href="#">6</a></li>
                                            <li><a class="dropdown-item" href="#">7</a></li>
                                            <li><a class="dropdown-item" href="#">8</a></li>
                                            <li><a class="dropdown-item" href="#">9</a></li>
                                            <li><a class="dropdown-item" href="#">10</a></li>
                                        </ul>
                                    </div>
                                    <div class="mb-3">
                                        <label for="message-text" class="col-form-label">Review:</label>
                                        <textarea class="form-control" id="message-text"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Submit Review</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#buy">BUY $@Model.Price</button>
                <div class="modal fade" id="buy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Buy Movie</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Purchase @Model.Title for $@Model.Price&#63;</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Purchase</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-5">
            <div class="my-3">
                <h5>MOVIE FACTS</h5>
                <hr />
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Release Date <span class="badge rounded-pill bg-dark">@Model.ReleaseDate.Value.ToString("MMMM dd, yyyy")</span></li>
                    <li class="list-group-item">Run Time <span class="badge rounded-pill bg-dark">@Model.RunTime m</span></li>
                    <li class="list-group-item">Box Office <span class="badge rounded-pill bg-dark">@Model.Revenue.Value.ToString("C")</span></li>
                    <li class="list-group-item">Budget <span class="badge rounded-pill bg-dark">@Model.Budget.Value.ToString("C")</span></li>
                </ul>
            </div>
            <div class="my-3">
                <h5>TRAILERS</h5>
                <hr />
                <ul class="list-group list-group-flush">
                    @foreach (var trailer in Model.Trailers)
                        {
                            <li class="list-group-item"><a href="@trailer.TrailerUrl" style="color: black">@Model.Title Trailer</a></li>
                        }
                </ul>
            </div>
         </div>
        <div class="col-7">
            <div class="my-3">
                <h5>CAST</h5>
                <hr />
                @foreach (var cast in Model.Casts)
                    {
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item border-0 py-0">
                                <img src="@cast.ProfilePath" class="rounded-circle" alt="@cast.Name" style="height:75px;" />
                            </li>
                            <li class="list-group-item my-auto pl-2 py-0 border-0" style="min-width: 250px">
                                <a asp-controller="Cast" asp-action="Details" asp-route-id="@cast.Id" style="color: black;">
                                    @cast.Name</a>
                            </li>
                            <li class="list-group-item my-auto py-0 border-0">@cast.Character</li>
                        </ul>
                        <hr />
                    }
            </div>
        </div>
    </div>
</div>